.drop1 button {
    background-color: gold;
    border: none;
    padding: 10px 30px
}


.drop1 button:hover {
    background-color: rgba(255, 217, 0, 0.832);
    padding: 9px 31px
}


.drop1 a
{
    display: block;
    padding: 10px 30px;
    
}

.drop1 .drop2
{
    position: absolute;
    background-color: rgb(201, 201, 201);
    display: none;
    
}

.drop1:hover .drop2
{
    display: block;
}

.drop2:hover
{
    background-color: rgb(230, 230,230);
}

body {background-color: aquamarine;}
body:hover
{
    background-color: aqua;
}

h1 {color: black; text-align: center;}
h1:hover {color: gray; text-align: left;}
