h1
{
    text-align: center;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

.IntraID
{
    text-align: center;
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.profile
{
    display: block;
    margin: auto;
    width: 180px;
    aspect-ratio: 1.1 / 1;
}

.profile:hover
{
    display: block;
    margin: auto;
    width: 180px;
    aspect-ratio: 1.2/1.1;
}

.icon
{
    display: block;
    margin: auto;
    width: 30px;
    aspect-ratio: 1/1;
}

.icon:hover
{
    display: block;
    margin: auto;
    width: 45px;
    aspect-ratio: 1/1;
    opacity: .4;
}

tr
{
    display: block;
    margin: auto;
}

ul 
{
    display: flex; 
    list-style-type: none;
    justify-content: center;
   
}

.icons
{
    display: flex;
    align-items: center;

    /*flex-direction: row;*/
}

.tda
{
    align-content: center;
}

body
{
    justify-content: center;
    display: flex;
}

button
{
    width: 180px;
}

.Desc
{
    text-align: center;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}